{% extends 'base_template.html' %}
{% load static %}
{% load humanize %}

{% block title %} AutoX - {{ product_info.product_name }} {% endblock title %}
{% block content %}
<article class="container-fluid">
	<div class="container single-product-content">
		<section class="column-left">
			<div class="woocommerce-notices-wrapper"></div>
			<div class="header-product">
				<div class="header-title">
					<h1 class="product_title entry-title">{{ product_info.product_name }}</h1>
					<div class="btn-favorite">
						<div class="yith-wcwl-add-to-wishlist">
							<!-- ADD TO WISHLIST -->
							<div class="yith-wcwl-add-button">
								<a onclick="wishList('{{ product_info.id }}', '{{ csrf_token }}', 'single-product');">
									<i class="yith-wcwl-icon {% if product_info.id in wishlist %}fa fa-heart{% else %}fa fa-heart-o{% endif %}" aria-hidden="true"></i>
                                    <span></span>
								</a>
							</div>
							<!-- COUNT TEXT -->
						</div>
					</div>
				</div>
				<div class="header-body">
					<div class="product-image">
						<img src="/{{ product_info.product_image }}" alt="product-image" id="product-image" draggable="false">
						<div class="btn-slide">
							<div class="dot" onclick="changeImg('/{{ product_info.product_image }}')">
								<input type="hidden" value="/{{ product_info.product_image }}" class="url-image">
							</div>
                            {% for i in gallery_product %}
                            <div class="dot" onclick="changeImg('/{{ i.image }}')">
                                <input type="hidden" value="/{{ i.image }}" class="url-image">
                            </div>
                            {% endfor %}
						</div>
					</div>
					<div class="product-information-group">
						<div class="product-information">
							<h3>Specification</h3>
							<div class="more-info">
								<div class="more-info-line-1">
									<div class="kilometer">
										<div class="icon">
											<img src="{% static 'images/Vector-3.png' %}" alt="">
										</div>
										<span class="content">{{ detail_product.product_kilometer|intcomma }} km</span>
									</div>
									<div class="fuel">
										<div class="icon">
											<img src="{% static 'images/Group-119.png' %}" alt="">
										</div>
										<span class="content">{{ detail_product.product_fuel }}</span>
									</div>
								</div>
								<div class="more-info-line-2">
									<div class="time">
										<div class="icon">
											<img src="{% static 'images/Group-11.png' %}" alt="">
										</div>
										<span class="content">{{ detail_product.product_reg_date}} </span>
									</div>
									<div class="unknow">
										<div class="icon">
											<img src="{% static 'images/Vector-4.png' %}" alt="">
										</div>
										<span class="content">{{ detail_product.product_at }}</span>
									</div>
								</div>
								<div class="more-info-line-3">
									<div class="cheaper">
										<div class="icon">
											<img src="{% static 'images/Vector-7.png' %}" alt="">
										</div>
										<span class="content">{{ detail_product.product_cheaper | intcomma }} VND Cheaper</span>
									</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="auction-price">
								<h2 class="title">Auction Price:</h2>
								<div class="content">{{ detail_product.product_auction_price | intcomma }} VND</div>
							</div>
							<div class="time-remaining">
								<h2 class="title">Time remaining:</h2>
								<div class="content">
									<span id="days-{{ product_info.id }}"></span>
									<span id="hours-{{ product_info.id }}"></span>
									<span id="minutes-{{ product_info.id }}"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="product-detail">
					<h2>Vehicle details</h2>
					<div class="detail-content">{{ product_info.product_description }}</div>
				</div>
				<div class="product-vehicle">
					<h2>Vehicle details</h2>
					<div class="vehicle-content">
						<div class="condition">
							<div class="title">Condition</div>
							<div class="content">{{ detail_product.product_condition }}</div>
						</div>
						<div class="colour">
							<div class="title">Original Colour</div>
							<div class="content">{{ detail_product.product_color }}</div>
						</div>
						<div class="reg-date">
							<div class="title">Reg. Date</div>
							<div class="content">{{ detail_product.product_reg_date }}</div>
						</div>
						<div class="body-type">
							<div class="title">Body Type</div>
							<div class="content">{{ detail_product.product_body_type }}</div>
						</div>
						<div class="manufacturing-year">
							<div class="title">Manufacturing year</div>
							<div class="content">{{ detail_product.product_manufacturing_year }}</div>
						</div>
						<div class="power">
							<div class="title">Power</div>
							<div class="content">{{ detail_product.product_power }} hp</div>
						</div>
						<div class="seats">
							<div class="title">Seats</div>
							<div class="content">{{ detail_product.product_seats }} seats</div>
						</div>
						<div class="colour">
							<div class="title">Condition</div>
							<div class="content">{{ detail_product.product_condition }}</div>
						</div>
					</div>
				</div>
				<div class="line"></div>
				<div class="footer-product">
					<h2>Like this vehicle?</h2>
					<div class="result-quick-quote" id="result-quick-quote-{{ product_info.id }}"></div>
					<div class="content">
						<div class="search-group">
							<input type="text" placeholder="Enter quote for this vehicle" id="quick-quote-message-{{ product_info.id }}">
							<button type="submit" class="btn-submit-quick-quote" id="btn-submit-quick-quote-{{ product_info.id }}" onclick="user_send_mail(this, '{{ csrf_token }}');" value="{{ product_info.id }}" name="">Submit</button>
						</div>
					</div>
				</div>
                <script> makeTimer('{{ product_info.id }}', '{{ detail_product.product_time_remaining }}'); </script>
            </div>
        </section>
        <section class="column-right">
			<div class="group-1">
				<div class="column-right-title">
					<h1>Like this vehicle?</h1>
				</div>
				<div class="column-right-content">
					<div class="like-vehicle">
						<div class="result-quick-quote" id="like-vehicle-{{ product_info.id }}"></div>
						<div class="form-quote">
							<input type="text" id="quick-quote-message-col-right-{{ product_info.id }}" placeholder="Enter quote">
						</div>
						<button type="submit" class="btn-submit-quick-quote" value="{{ product_info.id }}" onclick="user_send_mail_col_right(this, '{{ csrf_token }}')" name="">Submit</button>
					</div>
				</div>
			</div>
			<div class="line"></div>
			<div class="group-2">
				<div class="column-right-title">
					<h1>Need help?</h1>
				</div>
				<div class="column-right-content">
					<a class="location" href="#">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						<div class="location-text">121 Kim Nguu, Hai Ba Trung Disctrict, Hanoi</div>
					</a>
					<a class="email" href="#">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<div class="email-text">hello@servisense.vn</div>
					</a>
					<a class="phone" href="#">
						<i class="fa fa-phone" aria-hidden="true"></i>
						<div class="phone-text">(+84) 964 936 939</div>
					</a>
				</div>
			</div>
		</section>
	</div>
</article>

{% endblock content %}